 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body {
    color: rgb(226, 86, 43);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: darkblue;
    
}

body h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(220, 20, 60);
 }
 body h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(55, 38, 204);
 }

#pagina {
  background-color: rgb(255, 255, 255);
  width: 1024px;
  max-width: 85%;
  margin:auto;
  /* font-family: 'Arial Narrow Bold', sans-serif; */
}  
#botones {
  
  width: 1024px;
  max-width: 85%;
  margin:auto;
  
}  
#container {
    height: 150px;
    position: relative; 
    background: rgb(240, 230, 87);
    display: flex;
    justify-content: space-between;
  }
  

  #image {
    position: absolute;
    left: 0;
    top: 0;
  }
 #text {
    z-index: 100;
    position: absolute;
    color: rgb(55, 38, 204);
    font-size: 100px;
    font-weight: bold;
    right: 150px;
   
   top: 20px; 
  } 
 